// Specific CSS for your home-page
.size-fa a {
    padding: 0 15px;
}
.size-fa {
    font-size: 5em;
}


.socialnetwork h2 {
  font-size: 58px;
  color: #579baf;
}

.imgstyle {
    max-width: 230px;
    width: 42%;
}



@media screen and (max-width: 991px) {
  .mobiledemo {
    display: none;
  }
}

