.recipe-head {
  border-bottom: 1px dashed lightgrey;
}

.recipe-photo {
  height: 300px;
  padding: 10px 0px;
  background-size: cover;
  background-position: center center;
}

.recipe-ingredients {
}

.dose-form {
  border-bottom: 1px dashed lightgrey;
  padding: 10px 0px;
}

.recipe-infos {
  display: flex;
  h3, p {
    margin: 0;
  }
  justify-content: space-around;
  // border-bottom: 1px dashed lightgrey;
  padding: 10px 0px;
}

.recipe-instructions {
  margin-left: 38px;
  // border-bottom: 1px dashed lightgrey;
  h3 {
    font-size: 1.5rem;
    color: #5E9FAE;
  }
  // h2 {
  //   font-size: 2.5rem;
  // }
}

.recipe-wrapper {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 15px;
  h1 {
    color: #5E9FAE;
    font-weight: bold;
    font-size: 30px;
  }
}


.ingredients-list__item__icon {
  width: 50px;
  height: 40px;
  border-right: 2px dotted #5C9EAD;
  img{
    width: 40px;
    height: 40px;
    opacity: 0.7;
    background-size: cover;
    background-position: center center;
    // border-radius: 5px;
    // box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    flex: 0 0 60px;
    margin-right: 10px;
  }
}
.recipe-ingredients__list__item {
  align-items: center;
  list-style-type: none;
  display:flex;
  margin-bottom: 5%;
}

.recipe-ingredient-text {
 padding-left: 10px;

}

.recipe-ingredients{
  h4 {
    margin-left: 38px;
  }
  strong {
    margin-left: 38px;
  }
}

// Var
$hiver:  #08415C;
$vegetarien: #1D9C73;
$entree: #AFE3C0;
$aperitif:#8963BA;
$plat:#07BEB8;
$accompagnement:#65AFFF;
$dessert:#7EE081;
$boisson:#C3F3C0;
$petitdejeuner: #BCF8EC;
$snack:#EBBAB9;
$printemps:#FFA630;
$ete:#ECA72C;
$automne:#99621E;
$hiver:#08415C;


.recipe-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 10px;
}

.tag {
  color: white;
  width: auto;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-left: 10px;

  &#vegetarien{
  background-color: $vegetarien;
  }

  &#aperitif{
  background-color: $aperitif;
  }

  &#entree{
  background-color: $entree;
  }

  &#plat{
  background-color: $plat;
  }

  &#accompagnement{
  background-color: $accompagnement;
  }

  &#dessert{
  background-color: $dessert;
  }

  &#boisson{
  background-color: $boisson;
  }

  &#petitdejeuner{
  background-color: $petitdejeuner;
  }

  &#snack{
  background-color: $snack;
  }

  &#printemps{
  background-color: $printemps;
  }

  &#ete{
  background-color: $ete;
  }

  &#automne{
  background-color: $automne;
  }


  &#hiver {
    background-color: $hiver;
  }
}









