.recipe-head {
  background-color: white;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  border-radius: 10px;
}

.recipe-photo {
  height: 150px;
  background-position: center center;
  background-size: cover;
  padding: 2px;
  border-radius: 10px 10px 0px 0px;
}

.recipe-container-infos {
  display: flex;
  justify-content: space-between;
}

.recipe-title {
  margin: 5px 0px 10px 10px;
  h2 {
    margin: 0;
    margin-top: 10px;
    text-align: left;
  }
}

.recipe-infos {
  display: block;
  justify-content: space-around;
  flex: 0 0 80%;
}

.recipe-servings {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
  p {
    font-size: 1.5rem;
    margin: 0px;
  }
}

.recipe-ingredients {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
}

.dose-form {
  padding: 10px 0px;
}

.ingredients-list__item__icon {
  width: 40px;
  height: 40px;
  // border-right: 2px dotted #5C9EAD;
  img{
    width: 35px;
    height: 35px;
    opacity: 0.7;
    background-size: cover;
    background-position: center center;
    flex: 0 0 60px;
  }
}
.recipe-ingredients__list__item {
  align-items: center;
  list-style-type: none;
  display:flex;
  padding: 5px 0px;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  padding: 5px 5px;
}

.recipe-ingredient-text {
  padding-left: 10px;
  p {
    margin: 0;
  }
}

#dose-list {
  padding: 0;
  padding: 5px 15px 5px 15px;
  margin: 0;
  li:last-child {
  border-bottom: none;
  }
}

.recipe-ingredients{
  h4 {
    margin-left: 15px;
  }
  strong {
    margin-left: 15px;
  }
}

.recipe-instructions {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  padding: 15px 15px 15px 15px;
}

.instruction-line {
  display: flex;
  margin-bottom: 10px;
  instruction-line:last-child {
  margin-bottom: 0px;
  }
}

.instruction-number {
  flex: 0 0 10%;
  h3 {
    margin: 0;
    font-size: 2.5rem;
  }
}

.instruction-text {
  flex: 0 0 90%;
  display: flex;
  align-items: center;
  p {
    margin: 0px;
  }
}





