.profile-box {
  border-bottom: 1px solid rgb( 220, 220, 220);
}

.profile-wrapper {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 3px;
  height: 100vh;
}

.ingredient-card {
  height: 10vw;
  width: 10vw;
  min-width: 100px;
  min-height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.ingredient-card-name {
  position: absolute;
  right: 10px;
  bottom: 10px;
  h2 {
    margin: 0;
    font-size: 1.2em;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.card-container {
  padding: 5px;
}

.fa-plus-square {
  color: #85CB33;
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: none;
}

.fa-minus-square {
  color: #FF5964;
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: none;
}

.recipe-card {
  height: 20vw;
  width: 25vw;
  min-width: 250px;
  min-height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.recipe-card-picture {
  height: 100px;
  width: 100%;

}

.recipe-card-infos {

}

.recipe-card-name {
  position: absolute;
  right: 10px;
  bottom: 10px;
  h2 {
    margin: 0;
  }
}

.recipe-container {
  padding: 5px;
}

.recipe-card-icon {

}

.page-container {
  height: calc(100vh - 70px);
}
