.profile-box {
  border-bottom: 1px solid rgb( 220, 220, 220);
}

.profile-wrapper {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.ingredient-card {
  height: 10vw;
  width: 10vw;
  min-width: 100px;
  min-height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.ingredient-card-name {
  position: absolute;
  right: 2px;
  bottom: 2px;
  text-align: right;
  h2 {
    margin: 0;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  a {
    text-decoration: none;
    color: black;
  }
}

.recipe-card:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition-duration: 0.3s;
}

.card-container {
  padding: 5px;
}

.fa-plus-square {
  color: #85CB33;
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: none;
}

.fa-minus-square {
  color: #FF5964;
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: none;
}

.fa-window-close {
  color: #FF5964;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-shadow: none;
  font-size: 1.5em;
}

.recipe-card {
  height: 15vw;
  width: 25vw;
  min-width: 200px;
  min-height: 110px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin: 5px;
  border-radius: 5px;
}

.recipe-card-picture {
  height: 10vw;
  width: 25vw;
  min-width: 200px;
  min-height: 55px;
  background-position: center center;
  background-size: cover;
  padding: 2px;
  border-radius: 5px 5px 0px 0px;
}

.recipe-card-infos {
  height: 5vw;
  width: 25vw;
  min-width: 200px;
  min-height: 55px;
  position: relative;
}

.recipe-card-name {
  position: absolute;
  left: 5px;
  top: 5px;
  p {
    margin: 0;
    text-align: left;
  }
  h2 {
    margin: 0;
    text-align: left;
  }
}

.page-container {
  height: calc(100vh - 70px);
}
