<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>New Recipe</h1>

      <%= render 'form', recipe: @recipe %>
      <%= link_to 'Back', recipes_path %>

    </div>
  </div>
</div>
