<div class="cards-wrapper">
  <% if recipes.blank?  %>
    <div class="error-message text-center">
      <p>Il n'y a pas de recette</p>
    </div>
  <% else %>
    <% recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
      <% end %>
      <div class="recipe-card">
        <div class="recipe-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cl_image_path recipe.photo, crop: :fill %>');">
        </div>
        <div class="recipe-card-infos">
          <div class="recipe-card-name">
            <h2><%= recipe.name %></h2>
            <% if recipe.vegan %>
<!--             <div id="tag-vegan">
 -->              <p id="tag-vegan">Vegan<i class="fa fa-check" aria-hidden="true"></i></p>
<!--             </div>
 -->            <% end %>
          </div>
          <%= link_to dislike_recipe_path(recipe), method: :put do %>
            <i class="fa fa-window-close" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
