<div class="wrapper">
  <div class="banner">
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="logo">
      </div>
      <div class="col-md-6">
        <h1>Slogan</h1>
        <button></button>
      </div>
      <div class="col-md-6">
        <div class="illustration">
          <img src="" alt="">
        </div>

      </div>
    </div>
  <div class="row">
    <h2>h</h2>
  </div>
  <footer>
    <div class="row">
      <div class="col-md-4">
        <h4>à propos</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </footer>
  </div>
</div>
