.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
}

.banner-text {
  margin-top: -50px;
  h1 {
    font-weight: bolder;
    font-size: 5.0rem;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
  }
  h2 {
    font-weight: lighter;
    font-size: 2.0rem;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
