.footer{
  background: #2d2b2a;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: .8rem;
  color: rgba(white,.4);

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;

      a{
        display: block;
        padding: .4rem .7rem;
        font-size: .9rem;
        text-decoration: none;
        color: rgba(white,.7);

        &:hover{
          color: white;
        }
      }
    }
  }
}
