.homepage-hero-module {
  position: relative;

  & .text-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 110px;
  }

 & .fillWidth {
    width: 100%;
}

 & h1, h2,  {
    color: white;
}

}

.fa-cutlery {
  color: white;
}

.text-center {
  text-align: center
}
