// Var
$hiver:  #08415C;
$vegetarien: #1D9C73;
$entree: #AFE3C0;
$aperitif:#8963BA;
$plat:#07BEB8;
$accompagnement:#65AFFF;
$dessert:#7EE081;
$boisson:#226CE0;
$petitdejeuner: #BCF8EC;
$snack:#EBBAB9;
$printemps:#FFA630;
$ete:#ECA72C;
$automne:#99621E;
$hiver:#08415C;


.recipe-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-right: 10px;
}

.tag {
  background-color: white;
  width: auto;
  padding: 1px 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
  margin-left: 10px;
  font-size: 1.2rem;

  &#vegetarien{
  color: $vegetarien;
  // border: 1px solid $vegetarien;
  }

  &#aperitif{
  color: $aperitif;
  // border: 1px solid $aperitif;
  }

  &#entree{
  color: $entree;
  // border: 1px solid $entree;
  }

  &#plat{
  color: $plat;
  // border: 1px solid $plat;
  }

  &#accompagnement{
  color: $accompagnement;
  // border: 1px solid $accompagnement;
  }

  &#dessert{
  color: $dessert;
  // border: 1px solid $dessert;
  }

  &#boisson{
  color: $boisson;
  // border: 1px solid $boisson;
  }

  &#petitdejeuner{
  color: $petitdejeuner;
  // border: 1px solid $petitdejeuner;
  }

  &#snack{
  color: $snack;
  // border: 1px solid $snack;
  }

  &#printemps{
  color: $printemps;
  // border: 1px solid $printemps;
  }

  &#ete{
  color: $ete;
  // border: 1px solid $ete;
  }

  &#automne{
  color: $automne;
  // border: 1px solid $automne;
  }


  &#hiver {
  color: $hiver;
  // border: 1px solid $hiver;
  }
}



